.section-basic {
  box-shadow: 5px 5px 10px -5px $color-shadow;
  background-color: $color-bg-main;
  border: $box-border;
  margin-top: 20px;
  
  &__header {
    margin: 0;
    font-size: $font-size-header;
    font-weight: $font-medium;
    color: $color-header;
    text-transform: uppercase;
  }
  
  &__row {
    padding: $box-padding;
    border-bottom: $box-border;
  }

  &__description {
    font-size: $font-size-text;
    font-weight: $font-light;
    color: $color-text-dark;
    padding: $box-padding;
  }
}
