.side-bar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $color-bg-menu;
  overflow: hidden;
  transition: $transition;

  &__menu-button {
    height: 35px;
    width: 35px;
    padding: 5px 5px 0 5px;
    margin: auto 15px auto 0;
  }
  
  &__hamburger {
    background-color: $color-text-menu;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: $transition;
  }

  &--full &__hamburger:nth-child(1) {
    transform: rotate(45deg) translateX(13px);
  }

  &--full &__hamburger:nth-child(2) {
    transform: scaleX(0);
  }

  &--full &__hamburger:nth-child(3) {
    transform: rotate(-45deg) translateX(13px);; 
  }

  &__logo {
    height: 35px;
    margin: auto 0 auto 15px;
  }

  &__header {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: $color-bg-menu;
  }
}

@media(max-width: 767px) {
  .side-bar {
    width: 0;
    padding-top: 60px;
    
    &--full {
      width: 100vw;
    }

    &__header {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

@media(min-width: 768px) {
  .side-bar {
    width: 50px;

    &__logo {
      display: none;
    }
  
    &__menu-button {
      margin: auto;
    }

    &--full {
      width: 188px;
    }

    &--full &__logo {
      display: block;
    }
  
    &--full &__menu-button {
      margin: auto 15px auto 0;
    }
  }  
}
