/* Siple colum and row in each row should be flex-grow summary 12 */
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}

/*Basic structure*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 188px;
  background-color: $color-bg-menu;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 188px;
  height: 60px;
  width: calc(100vw - 188px);
  background-color: $color-bg-main;
}

.main {
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: $color-bg-back;

  &--full-menu {
    margin-left: 188px;
  }
 
  &--short-menu {
    margin-left: 54px;
  }
}

