/* Colors */
//Text color
$color-text-contra: #ffffff;
$color-text-dark: #333333;
$color-text-light: #a6a6a6;
$color-header: #979797;
$color-text-menu: #999999;

//Bacground or border color
$color-bg-main: #ffffff;
$color-bg-back: #f5f5f2;
$color-bg-menu: #191919;
$color-bg-menu-hover: #282828;
$color-bg-menu-after: #f58220;
$color-bg-box: #e3e3e3; //message, tabs, border   
$color-bg-box2: #bababa; //message, border:hover
$color-bg-confirm: #04ae00;
$color-bg-reject: #ff0000;
$color-bg-positive: #96cc9b;
$color-bg-positive-hover: #74b67a;
$color-bg-negative: #ec7171;
$color-bg-negative-hover: #de5252;

//Links color
$color-link: #56819f;
$color-link-hover: #ffa200;

//Buttons color
$color-button: #f58220;
$color-button-hover: #ffa200;
$color-button-disable: #e3e3e3;

//Shadow
$color-shadow: rgba(0, 0, 0, 0.3); 

/* Font */
$font-size-base: 14px;
$font-size-header: 1.14rem;
$font-size-text: 1rem; //paragraph, form
$font-size-small: 0.78rem; //table body
$font-size-menu: 1.2rem;
$font-family: 'Roboto', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

/* box parameter */
$box-padding: 18px;
$box-border: 1px solid $color-bg-box;
$radius: 4px;
$transition: all .5s;

