.simple-table {
  margin: 0 20px;
  
  &__table {
    margin: auto;
    width: 100%;
  }

  &__thead {
    display: none;
  }

  &__row {
    width: 100%;
    border-bottom: $box-border;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__row:hover {
    background-color: $color-bg-box2;
  }

  &__tbody {
    width: 100%;
  }
  
  &__td {
    padding: 15px 10px;
  }

  &__td--link {
    text-align: left;
    overflow: hidden;
    flex-shrink: 1;
  }
  
  &__td--title {
    text-align: left;
    overflow: hidden;
  }

  &__td--icon {
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  
  &__icon {
    margin: auto 10px; 
    
  }
}